<section ng-if='$ctrl.minutelyWeather'>
<!-- ng-if says if this data is available, if not do not show -->
  <ul>
    <li ng-repeat='minute in $ctrl.minutelyWeather.data'>
      <header>
        <!-- <p>Precipitation Probability: {{ $ctrl.weatherData.precipProbability * 100 | number: 2 }}%</p> -->
          <img ng-src="{{ $ctrl.imageLookup[minute.icon] || $ctrl.missingImage }}"/>
          <p>{{ minute.time * 1000 | date: 'short'}}</p>
          <!-- Gives you the time the data was gathered, could be the minute before ex. -->
      </header>
      <main>
        <h1>Humidity: {{ minute.humidity * 100 | number: 0 }}%</h1>
        <div>
          <h1>Temperature: {{ minute.temperature | number: 0 }}&deg;F</h1>
          <h2>Real Feel: {{ minute.apparentTemperature | number: 0 }}&deg;F</h2>
        </div>
        <h1>UV Index: {{minute.uvIndex }}</h1>
      </main>
      <footer>
        <h1>Summary: {{ minute.summary }}</h1>
      </footer>
      <hr />
    </li>
  </ul>
</section>
