<section ng-if='$ctrl.weather'>
<!-- ng-if says if this data is available, if not do not show -->
  <ul>
    <li ng-repeat='hour in $ctrl.weather.data'>
      <header>
        <!-- <p>Precipitation Probability: {{ $ctrl.weatherData.precipProbability * 100 | number: 2 }}%</p> -->
          <img ng-src="{{ $ctrl.imageLookup[$ctrl.weather.icon] || $ctrl.missingImage}}"/>
          <p>{{ hour.time * 1000 | date: 'short'}}</p>
          <!-- Gives you the time the data was gathered, could be the day before ex. -->
      </header>
      <main>
        <h1>Humidity: {{ hour.humidity * 100 | number: 0 }}%</h1>
        <div>
          <h1>Temperature: {{ hour.temperature | number: 0 }}&deg;F</h1>
          <h2>Real Feel: {{ hour.apparentTemperature | number: 0 }}&deg;F</h2>
        </div>
        <h1>UV Index: {{hour.uvIndex }}</h1>
      </main>
      <footer>
        <h1>Summary: {{ hour.summary }}</h1>
      </footer>
      <hr />
    </li>
  </ul>
</section>
<!-- <pre>{{ $ctrl.weatherData | json }}</pre> -->
